<h2>Products from Cart with id={{cart._id}}</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <td><strong>Producto</strong></td>
            <td><strong>Descripción</strong></td>
            <td><strong>Precio</strong></td>
            <td><strong>Código</strong></td>
            <td><strong>Stock</strong></td>
            <td><strong>Cantidad</strong></td>
        </tr>
    </thead>
    <tbody>
        {{#each cart.products}}
        <tr>
            <td>{{this._id.title}}</td>
            <td>{{this._id.description}}</td>
            <td>{{this._id.price}}</td>
            <td>{{this._id.code}}</td>
            <td>{{this._id.stock}}</td>
            <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<button id="goBackButton" type="button" class="btn custom-button" onclick="goBack()">Volver a los productos</button>
<button id="purchaseButton" type="button" class="btn custom-button" onclick="purchase('{{cart._id}}')">Finalizar
    compra</button>

<script>

    const purchase = (cid) => {

        fetch(`/api/carts/${cid}/purchase`,
            {
                method: 'post'
            }

        ).then(result => result.json()
        ).then((result) => {
            if (result.status === 'success') {
                alert("Se hizo correctamente la compra.")
            } else {
                alert(result.error) 
            }
        }).catch(err => alert(`Ocurrió un error ${err}`))
    }
    const goBack = () => {
        window.location.href = `http://localhost:8080/products`
    }

</script>